:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffff;
    --black-card: #282623;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Dm Sans', sans-serif;
}

/** SECCIÓN DEL HEADER */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 30.0rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 40px;
    margin-bottom: 33px;
}
.header__title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 21.8rem;
}
.header__title-container h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-bottom: 24px;
}
.header__title-container p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--soft-orange);
    margin-bottom: 32px;
}
.header__title-container .header__button{
    position: absolute;
    width: 23rem;
    height: 4.8rem;
    bottom: -2.4rem; /* mitad del height */
    left: calc(50% - 11.5rem) ; /* mitad del width(115px) y 50% para centrar */
    display: block;
    padding: 14px 16px 12px;
    background-color: var(--off-white);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--warm-black) ;
    /* /SOMBRA */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    text-decoration: none;
}
.header__button span{
    display: inline-block;
    width: 12px;
    height: 0.8rem;
    margin-left: 10px;
    background-image: url('../Assets/icons/down-arrow.svg');
    background-repeat: no-repeat;
}


/* *SECCIÓN DEL MAIN 1 */
main{
    width: 100%;
    min-width: 320px;
    height: auto;
}
.main__currency-container{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
    background-color: var(--off-white);
}
.background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 45px;
    background-image: url('../Assets/img/Bitcoin.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.m__ex-c__title{
    width: 90vw;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto 50px;
}
.m__ex-c__title h2{
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
}
.m__ex-c__title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--grey);
}

/** PRIMERA TABLA1 */
.main__tables-container{
    display: flex;  /*! HACER EL DESPLAZAMIENTO LATERAL */
    overflow-x: auto;
    scroll-behavior: smooth;
}
.main__tables-container::-webkit-scrollbar{
    display: none; /*! QUITAR VISUALMENTE EL SCROLLBAR */
}
.main__currency-table{
    width: auto;
    min-width: 235px;
    max-width: 500px;
    height: max-content;
    margin: 0 0 0 35px;
    font-family: "Inter",sans-serif;
}
.currency-table__title{
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Dm Sans',sans-serif;
    line-height: 2.3rem;
    text-align: left;
    padding-left: 25px;
    color: var(--bitcoin-orange);
}
.currency-table__container{
    width: 90%;
    min-width: 197px;
    max-width: 300px;
    height: 15.9rem;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;
}
.currency-table__container td{
    width: 50%;
    background-color: var(--just-white);
    text-align: left;
    padding: 0 10px;
}
.top-left{
    border-radius: 10px 0 0 0;
}
.top-right{
    border-radius: 0 10px 0 0;
}
.bottom-left{
    border-radius: 0 0 0 10px;
}
.bottom-right{
    border-radius: 0 0 10px 0;
}
.table__left{
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: #B5B0AC;
}
.table__right{
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    color: #757575;
}
.currency-table__container .down{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url("../Assets/icons/trending-down.svg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.currency-table__container .up{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url("../Assets/icons/trending-up.svg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
/* *SECCIÓN DE FECHA1 */
.currency-table__date{
    width: max-content;
    height: 3.1rem;
    margin: 16px auto 0;
    padding: 8px 10px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table__date p{
    font-size: 1.2rem;
    line-height: 1.45rem;
    font-weight: 400;
    color: var(--warm-black);
}


/** PRIMERA TABLA2 */
.main__currency-table2{
    width: auto;
    min-width: 235px;
    max-width: 500px;
    height: max-content;
    margin: 0 35px 0 0;
    font-family: "Inter",sans-serif;
}
#commission-table__title{
    color: var(--secondary-blue);
}
#commission__price{
    text-align: center;
}
/** SECCIÓN DE FECHA2 */
#commission-table__date{
    width: max-content;
    height: 3.1rem;
    background-color: var(--soft-blue);
}


/* ?SECCIÓN NEGRA MAIN 2 */
.main__product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 64px 16px 47px;
    background-color: var(--warm-black);
}
.product__batata-icon{
    background-image: url('../Assets/icons/batata.svg');
    position: absolute;
    width: 40.5px;
    height: 24px;
    top: -12px;
    left: calc(50% - 12px);
    background-repeat: no-repeat;
}
.product__detail-title{
    width: 90%;
    min-width: 288px;
    height: max-content;
    margin: 0 auto 32px;
    text-align: center;
}
.product__detail-title h2{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.product__detail-title p{
    color: var(--grey);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}
/* .TARJETAS */
.product-detail__card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 15.2rem;
    margin-bottom: 16px;
    padding: 14px 20px 22px 16px;
    background-color: var(--black-card);
    border-radius: 6px;
}
.product-detail__card .icon-card {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.product__card-title{
    color: var(--just-white);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.product__card-body{
    color: var(--grey);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#card-final{
    margin-bottom: 0px;
}
.clock{
    background-image: url('../Assets/icons/clock.svg');
}
.eye{
    background-image: url('../Assets/icons/eye.svg');
}
.money{
    background-image: url('../Assets/icons/dollar-sign.svg');
}
.check{
    background-image: url('../Assets/icons/check-circle.svg');
}


/* *TERCERA SECCIÓN - IMAGEN BITCOIN */
.bitcoin-img__container{
    width: 100%;
    min-width: 320px;
    height: 387px;
    background-image: url('../Assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bitcoin-img__container h2{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    text-align: center;
    padding-top: 64px;
}


/* ?CUARTA SECCION - COSTOS */
.main-plans__container{
    width: 100%;
    min-width: 320px;
    text-align: center;
    padding: 64px 0px;
    background-color: #faf8f7;
}
.plans__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
}
.plans__title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 24px;
}
.plans__title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--grey);
}
/* .CONSTRUCCIÓN DEL SLIDER HORIZONTAL */
.plans-container__slider{
    display: flex;
    gap: 30px;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container__slider::-webkit-scrollbar{
    display: none; /*! QUITAR VISUALMENTE EL SCROLLBAR */
}

/* .TARJETAS DE PRECIOS */
.plans-container__card{
    position: relative;
    scroll-snap-align: center; /* !slider */
    width: 70%;
    /* min- */width: 190px;
    /* max-width: 272px; */
    height: 24.7rem;
    margin: 15px 0 0px;
    padding: 31px 16px 24px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}
.recommended{
    position: absolute;
    width: 100px;
    height: 3rem;
    color: var(--just-white);
    font-size: 1.2rem;
    line-height: 1.45rem;
    font-weight: 700;
    font-family: "Inter",sans-serif;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    padding: 8px;
    justify-content: center;
    top: -15px;
    left: calc(50% - 50px);
}
.plan-card__title{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
    margin: 0 auto;
}
.plan-card__price{
    position: relative;
    display: inline-block;
    font-size: 5.2rem;
    font-weight: 700;
    font-family: "Inter",sans-serif;
    color: var(--warm-black);
    margin: 6px 0 10px;
}
.plan-card__price span{
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: black;
    left: calc(0% - 12px); /* referencia: font-size */
    top: 10px; /* referencia: line-height */
}
.plan-card__saving{
    width: 158px;
    height: 3rem;
    font-family: "Inter",sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.45rem;
    color: var(--grey);
    text-align: center;
    margin: 0 auto 16px;
}
.plan-card__ca{
    width: 155px;
    height: 4.8rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: "DM Sans",sans-serif;
    font-weight: 700;
    color: black;
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--soft-orange);
    border-radius: 4px;
    margin: 0 auto;
    padding: 12px 16px;
}
.plan-card__ca span{
    display: inline-block;
    width: 20px;
    height: 2rem;
    background-image: url(../Assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
/* .CARTAS DE PRECIOS ADICIONALES */
#basic{
    margin-left: 70px;
}
#basic .recommended{
    background-color: var(--secondary-blue);
}
.plan-card__ca.basic__button{
    background-color: var(--soft-blue);
    border: solid var(--secondary-blue);
}
#vitalicio{
    margin-right: 70px;
}
#vitalicio .recommended{
    background-color: rgb(219, 135, 174);
}
.plan-card__ca.vitalicio__button{
    background-color: rgb(252, 240, 246);
    border: solid rgb(219, 135, 174);
}


/* *PARTE DEL FOOTER */
footer{
    display: flex;
    min-width: 320px;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.social-network li,a{
    text-decoration: none;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
    margin: 8px 0;
}